@font-face {
    font-family: nitemare;
    src: url('./assets/nitemare.ttf');
  }

  body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-position: center; 
    color: white;
    font-family: nitemare;
    font-weight: bolder;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
}

.container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    /* font-size: 0; */
}

header{
    height: 18%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: nitemare;
    font-size: 1.5em;
    font-weight: bolder;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
}

.scoreboard{
    height: 10%;
    width: 100%;
    margin: 0;
    /*font-size: 2em; */ /*activating this makes line spaces in between the gameboard rows*/
}

.scoreboard > h3{
    margin: 0;
    font-size: 2em;
}

.menu{
    display: inline-block;
    position: relative;
    width: 25%;
    bottom: 10vh;;
}

.gameboard{
    height: 60%;
    width: 50%;  
    display: inline-block
}

.square {
    vertical-align: top; 
    display: inline-block;
    position: relative;
    border: inset 2px  rgba(255, 255, 255, 0.3);
    margin: auto;
}

.square:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.774);
}

p {
    text-align: center;
    font-size: 2em;
}

.three, .four, .five  {
    margin: 1%;

}

.streakbutton {
    margin: 1%;
}

button {
    background-color: rgba(0, 0, 0, 0.596);
    color: rgba(245, 245, 245, 0.87);
    font-family: nitemare;
    border-radius: 20%;
    font-size: 1em;
    

}

button:hover {
    box-shadow: 0 0 20px 3px rgba(255, 223, 119, 0.774);
    text-shadow: 1px 1px rgba(255, 223, 119, 0.774);
}



.restart{
    display: inline-block;
    position: relative;
    right: 23%;
    bottom: 35vh;
}

.message {
    font-size: 6em;
    color: rgb(255, 250, 181);
    text-shadow:
        -2px -2px 10 #000,  
        2px -2px 10 #000,
        -2px 2px 10 #000,
        3px 3px 10 #000;
    position: absolute;
    top: 40%;
    left: 38%;
  }



