@font-face {
    font-family: nitemare;
    src: url('./assets/nitemare.ttf');
  }


.container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    /* font-size: 0; */

}

header{
    height: 10%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: nitemare; 
}

.scoreboard{
    height: 10%;
    width: 100%;
    margin: 0;
    /*font-size: 2em; */ /*activating this makes line spaces in between the gameboard rows*/
    
}

.scoreboard > h3{
    font-size: 2em;
}
.gameboard{
    margin: auto;
    height: 60%;
    width: 50%;
}

.square{
    vertical-align: top; 
    display: inline-block;
    position: relative;
    border: 2px solid black;
    margin: auto;
}

p{
    text-align: center;
    font-size: 2em;
}

/* span{
    text-align: center;
} */




body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: white;
    font-family: nitemare;

}






