.container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    /* font-size: 0; */
}

header{
    height: 10%;
    width: 100%;
}

.scoreboard{
    height: 10%;
    width: 100%;
}
.gameboard{
    margin: auto;
    height: 80%;
    width: 70%;
}

.square{
    vertical-align: top; 
    display: inline-block;
    position: relative;
    border: 2px solid black;
    margin: auto;
}

p{
    text-align: center;
    font-size: 75px;
}